{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Siscobros - Cobros {% endblock %}
{% block section %}
                <section class="container box">
                                <div id="tabs">
                                <ul>
                                    <li><a href="#fragment-1" id="tabConsulta">Consulta</a></li>
                                    <li><a href="#fragment-2" id="tabPagos">Pagos</a></li>
                                </ul>
                                <div id="fragment-1">
                                    <div class="ink-grid">
                                        <div class="ink-form" >
                                            <div class="container box">
                                                 <div id="grid"></div>
                                                  <div class="vspace control-group content-right">
                                                      <button class="ink-button red" id="btnPago" href="/index/"> <i class="icon-ticket icon-large"> </i> Pago</button>
                                               </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="fragment-2">
                                    <div class="ink-grid">
                                        <form class="container box ink-form" method="post" enctype="multipart/form-data">
                                               {% csrf_token %}
                                                <h1 class="content-center"> Pagos </h1>
                                                <p class="content-center tip"> Por favor rellene los campos marcados con *</p>
                                                <!--{{ form.as_p }}-->
                                                <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Título </label>
                                                            <div class="control large-30">
                                                                 {{ form.Titulo }}
                                                            </div>
                                                            <!--<div class="control large-30">-->
                                                                <!--<input type="text" id="id_Numero">-->
                                                                <!--<p class="tip">Número</p>-->
                                                            <!--</div>-->
                                                </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Por </label>
                                                            <div class="control large-20">
                                                                <!--<input type="text" id="id_Por">-->
                                                                {{ form.Valor }}
                                                            </div>
                                                </div>
                                               <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Cliente </label>
                                                            <div class="control large-60">
                                                                <!--<input type="text" id="id_Cliente">-->
                                                                {{ form.Cliente }}
                                                            </div>
                                                </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Tipo</label>
                                                            <div class="control large-30">
                                                                      {{ form.Tipo_Costo }}
                                                            </div>
                                                </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Concepto</label>
                                                            <div class="control large-70">
                                                                {{ form.Observacion }}
                                                            </div>
                                               </div>
                                               <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Tipo Cobro</label>
                                                            <div class="control large-60">
                                                                {{ form.Tipo_Cobro }}
                                                            </div>
                                               </div>
                                               <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Cantidad</label>
                                                            <div class="control large-60">
                                                                <input type="text" id="id_Cantidad">
                                                            </div>
                                               </div>
                                               <div class="control-group content-center">
                                                      <button class="ink-button blue" type="submit"> <i class="icon-save icon-large"> </i> Guardar</button>
                                                      <button class="ink-button red" type="reset"> <i class="icon-remove-sign icon-large"> </i> Cancelar</button>
                                               </div>
                                        </form>
                                    </div>
                                </div>
                              </div>
                </section>


           <script>

               $( "#tabs" ).tabs({ collapsible: true, disabled: [1]});
                $("textarea").addClass("ckeditor");
                $('#id_Tipo_Costo').on('change',inicio);
               //ajax combobox PAgos
                function inicio(){
                    var formData = new FormData();
                    formData.append('id',$('#id_Tipo_Costo').val());
                    formData.append('titulo',$("#id_Titulo").val());
                    $.ajax(
                            {
                                data: formData,
                                url: '/costovario/cbo/',
                                type: 'post',
                                processData: false,
                                contentType: false,
                                success: function(data){
                                    $("#id_Valor").val(data[0].por);
                                    $("#id_Cantidad").val(data[0].cantidad);
                                },
                                error: function(){
                                    console.log("algo ha salido mal");
                                }
                            }
                    );
                }
               //Pagos
               $("#btnPago").on('click', pago);
               function pago(){
                   var entityGrid = $("#grid").data("kendoGrid");
                   var selectedItem = entityGrid.dataItem(entityGrid.select());
                   console.log(selectedItem.id, selectedItem.Contribuyente);
                   for(var i=0; i< $("#id_Cliente option").length; i++){if($("#id_Cliente option[value="+i+"]").text() == selectedItem.Contribuyente){$("#id_Cliente option[value="+i+"]").attr("selected",true);}}
                   $("#tabs").tabs({disabled : [0],active: 1});
               }
               //grid
               $(document).ready(function () {
              var datasourse = new kendo.data.DataSource({
                  batch: true,
                  transport: {
                                   read: {
                                       url: "/costovario/read/",
                                       datatype: "json"
                                   }
                           },
                    schema: {
                                id: "id",
                                model: {
                                       fields:{
                                            id: { editable:false, nullable: false ,type:"number" },
                                            Descripcion: { type: "string" }
                                       }
                                }

                           },
                           pageSize: 7
              });
              $("#grid").kendoGrid(
                      {
                       filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    startswith: "Empieza con",
                                    eq: "Es igual a",
                                    neq: "No es igual a"
                                }
                            }
                        },
                        selectable: "multiple, row",
                        navigatable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            messages: {
                                    itemsPerPage : "Items por página"
                            }
                        },
                        height: 430,
                        dataSource: datasourse,
                          columns: [
                              { field:"id", title:"Id", width: 120, filterable: false},
                              {
                                  field:"Contribuyente",
                                  filterable: {
                                      ui: function(element){
                                              element.kendoAutoComplete({
                                                    dataSource: datasourse,
                                                    dataTextField: "Contribuyente",
                                                    suggest: true
                                            });
                                      }
                                  },
                                   title:"Contribuyente"
                              },
                              {
                                  field:"Fecha",
                                  filterable:{
                                      ui: function(element){
                                          element.kendoDateTimePicker({
                                            showSecond: true,
                                            dateFormat: "yyyy-MM-dd",
                                            timeFormat: "HH:mm:ss + 00:00",
                                            format    : "yyyy-MM-dd HH:mm:ss + 00:00"
                                        });
                                      }

                                  }
                              },
                              {
                                field:"Valor", filterable: false
                              },
                           ],

                       batch: true,
                       scrollable: true,
                       sortable: {
                           mode: "multiple"
                       }
                      });
 });</script>{% endblock %}