{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Siscobros - Cobros {% endblock %}
{% block section %}
        <section class="container box">
            <div class="ink-grid">
                <div class="ink-form" >
                   <div class="container box">
                      <div id="grid"></div>
                         <div class="vspace control-group content-right">
                              <button class="ink-button red" id="btnPrint"> <i class="icon-print icon-large"> </i> Imprimir Reporte</button>
                         </div>
                      </div>
                   </div>
                </div>
            <script>
              $(document).ready(function () {
                 var datasourse = new kendo.data.DataSource({
                  batch: true,
                  transport: {
                                   read: {
                                       url: "/costovario/read/",
                                       datatype: "json"
                                   }
                           },
                    schema: {
                                id: "id",
                                model: {
                                       fields:{
                                            id: { editable:false, nullable: false ,type:"number" },
                                            Descripcion: { type: "string" }
                                       }
                                }

                           },
                           pageSize: 7
              });
              $("#grid").kendoGrid(
                      {
                       filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    startswith: "Empieza con",
                                    eq: "Es igual a",
                                    neq: "No es igual a"
                                }
                            }
                        },
                        selectable: "multiple, row",
                        navigatable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            messages: {
                                    itemsPerPage : "Items por página"
                            }
                        },
                        height: 430,
                        dataSource: datasourse,
                          columns: [
                              { field:"id", title:"Id", width: 120, filterable: false},
                              {
                                  field:"Contribuyente",
                                  filterable: {
                                      ui: function(element){
                                              element.kendoAutoComplete({
                                                    dataSource: datasourse,
                                                    dataTextField: "Contribuyente",
                                                    suggest: true
                                            });
                                      }
                                  },
                                   title:"Contribuyente"
                              },
                              {
                                  field:"Fecha",
                                  filterable:{
                                      ui: function(element){
                                          element.kendoDateTimePicker({
                                            showSecond: true,
                                            dateFormat: "yyyy-MM-dd",
                                            timeFormat: "HH:mm:ss + 00:00",
                                            format    : "yyyy-MM-dd HH:mm:ss + 00:00"
                                        });
                                      }

                                  }
                              },
                              {
                                field:"Valor", filterable: false
                              },
                           ],

                       batch: true,
                       scrollable: true,
                       sortable: {
                           mode: "multiple"
                       }
                      });
            });
            $("#btnPrint").on('click', imprime);
               function imprime(){
                    var entityGrid = $("#grid").data("kendoGrid");
                    var selectedItem = entityGrid.dataItem(entityGrid.select());
                    var datos = 'id='+selectedItem.id+'&Contribuyente='+selectedItem.Contribuyente;
                    url= "/reportes/costovario/file/?"+datos;
                    window.open(url,'_blank');
               }
            </script>
        </section>
{% endblock %}