{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Siscobros - Aseguradora {% endblock %}
{% block section %}
    <section class="ink-grid">
        <div class="container box">
            <h1 class="content-center">Aseguradoras</h1>
             <div id="grid"></div>
        </div>
        <script>

          $(document).ready(function () {
              var datasourse = new kendo.data.DataSource({
                  batch: true,
                  transport: {
                                   read: {
                                       url: "/aseguradora/read/",
                                       datatype: "json"
                                   },
                                   create: {
                                        url: "/aseguradora/add/",
                                        type: "POST",
                                        data: function(options){
                                               return {'Descripcion': options.models[0].Descripcion};
                                        }
                                   },
                                   update: {
                                       url: function(options){
                                            return "/aseguradora/edit/" + options.models[0].id;
                                       },
                                       data: function(options){
                                           return {'Descripcion': options.models[0].Descripcion};
                                       },
                                       type :"POST"

                                   },
                                   destroy: {
                                       url: function(options){
                                            return "/aseguradora/del/" + options.models[0].id;
                                       },
                                       type :"POST"
                                   }
                           },
                    schema: {
                                model: {
                                    id: "id",
                                       fields:{
                                            id: { editable:false, nullable: true ,type:"number" },
                                            Descripcion: { type: "string" }
                                       }
                                }

                           },
                           pageSize: 7
              });
              $("#grid").kendoGrid(
                      {
                       filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    startswith: "Empieza con",
                                    eq: "Es igual a",
                                    neq: "No es igual a"
                                }
                            }
                        },
                        navigatable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            messages: {
                                    itemsPerPage : "Items por página"
                            }
                        },
                        height: 430,
                        toolbar: [{
                                name: "create",
                                text: "Nuevo"
                            }],
                          dataSource: datasourse,
                          columns: [
                              { field:"id", title:"Id", width: 120, filterable: false},
                              {
                                  field:"Descripcion",
                                  filterable: {
                                      ui: function(element){
                                              element.kendoAutoComplete({
                                                    dataSource: datasourse,
                                                    dataTextField: "Descripcion",
                                                    suggest: true
                                            });
                                      }
                                  },
                                   title:"Descripción"
                              },
                              {command: [
                                  {
                                   name: "edit",
                                   text: {
                                       edit: "Editar", cancel: "Cancelar", update: "Guardar"
                                   }
                                 },
                                  {name:"destroy", text: "Borrar"}
                              ], title: "Acciones", width: 200}
                       ],

                       batch: true,
                       editable: {
                               mode:"popup",
                               confirmation: "¿Está usted seguro de borrar este registro?",
                               window:{
                                    title: "Edición"
                               }

                       },
                       scrollable: true,
                       sortable: {
                           mode: "multiple"
                       },
                       save: function(){this.dataSource.read();this.refresh();},
                       cancel: function(){this.dataSource.read();}
                      });
          });
      </script>
    </section>
{% endblock %}