{% extends 'index.html'%}
{% load staticfiles %}
{% block title %} Siscobros - Ciudadela {% endblock %}
{% block body %}
  <section class="ink-grid">
        <div class="container box">
        	<h1 class="content-center">Ciudadelas</h1>

			<div class="ink-form">
				<div class="control-group">
					<div class="control append-button">

					<span class="control"><input type="text" id="txtCiu" placeholder="Ingrese texto a buscar"></span>
					<button class="ink-button red"><i class="icon-search"> </i> Buscar</button>
					</div>
					</div>
					</div>
			<button class="ink-button orange" href="#" id="bModal"> <i class="icon-plus-sign"> </i> </button>
           <div id="contenido">
               <table class="ink-table bordered hover alternating">
                    <thead>
                        <tr>
                           <th class="content-center">
                            Código
                           </th>
                           <th class="content-center">
                              Descripción
                           </th>
                           <th class="content-center" colspan="2">
                            Acciones
                           </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="1"> </td>
                        </tr>
                    </tfoot>
                    <tbody>
                     {% for ciu in ciudadela %}
                        <tr>
                            <td class="content-center">
                                {{ ciu.id }}
                            </td>
                            <td class="content-center">{{ ciu.Descripcion }}</td>
                            <td class="content-center"> <a href="#" class="ink-button" id="vModal"> <i class="icon-edit "> </i> Editar</a> </td>
                            <td class="content-center"> <a href="#" class="ink-button"><i class="icon-trash"> </i> Eliminar</a> </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
                {% if ciudadela %}
                    <nav class="ink-navigation">
                        <ul class="pagination rounded shadowed red">
                            {% if ciudadela.has_previus %}
                                 <li class="previous"><a href="/ciudadela/pag/{{ciudadela.previus_page_number}}/"><i class="icon-chevron-left"> </i></a></li>
                            {% else %}
                                <li class="previous"><a href="#"><i class="icon-chevron-left"> </i></a></li>
                            {% endif %}
                            {% if ciudadela.has_next %}
                                <li class="next"><a href="/ciudadela/pag/{{ciudadela.next_page_number}}/"><i class="icon-chevron-right"> </i></a></li>
                            {% else %}
                                <li class="next"><a href="#"><i class="icon-chevron-right"> </i></a></li>
                            {% endif %}
                       </ul>
                    </nav>
                {% endif %}


           </div>

          </div>
      <script>


             //  $("#contenido").load("http://localhost:8000/Ciudadela/pag/1/Ciudadela.html"); //con esto en consola me recarga solo el div :D

          <!--Validar el doble envio de datos al refrescar -->
               var statSend = false;
                function checkSubmit() {
                    if (!statSend) {
                        statSend = true;
                        return true;
                    } else {
                        alert("El formulario ya se esta enviando...");
                        return false;
                    }
                }


      </script>
         <!--
         	Ventana modal nuevo
         -->
        <div class="ink-shade fade">
       <div id="nuevo" class="ink-modal" data-trigger="#bModal" data-width="910px" data-height="350px">
        <div class="modal-header">
            <button class="modal-close ink-dismiss"> </button>
            <h1> <i class="icon-plus-sign"></i> Nueva Ciudadela</h1>
        </div>
        <div class="modal-body" id="modalContent">
           <div class="box">

        	<form class="vspace ink-form" action="/ciudadela/add/" method="post" role="form" onsubmit="return checkSubmit();">
                {% csrf_token %}
			   <div class="control-group required column-group gutters">
                            <label for="txtDescripcion" class="large-20 content-right">Descripción </label>
                            <div class="control large-80">
                                <input type="text" id="txtDescripcion" name="txtDescripcion">
                            </div>
                </div>

                <div class="control-group modal-footer">
                    <div class="push-right">
                        <button id="guardar" class="ink-button blue info large" type="submit"><i class="icon-save"> </i> Guardar </button>
                        <button id="reset" class="ink-button red caution ink-dismiss large" > <i class="icon-remove-circle"> </i> Cancelar </button>
                    </div>
                </div>
			</form>
        </div>
    </div>
</div>
</div>
		<script>
            $("guardar").on('click',guardar);
            function guardar(){
                $("#contenido").load("http://localhost:8000/Ciudadela/ciudadela2.html"); //con esto en consola me recarga solo el div :D
            }
            $("#reset").on('click', borrar);
            function borrar(){
                $("#txtDescripcion").val('');
            }
		    var modal = new Ink.UI.Modal( '#nuevo' );
		    var modal = new Ink.UI.Modal('#editar');
		    /*Ink.requireModules( ['Ink.UI.Modal_1'], function(Modal){
		        new Modal( '#nuevo' );
		    });*/
//		    $(function() {
//		    	$('#id_Fecha').datepicker({
//		                 dateFormat: 'dd/mm/yy',
//		                 onSelect: function(datetext){
//		                    var d = new Date(); // for now
//		                    datetext=datetext+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
//		                    $('#id_Fecha').val(datetext);
//		                 },
//		             });
//		     });
		    $(function() {
		    	$('#Id_Fecha').datepicker({
		                 dateFormat: 'dd/mm/yy',
		                 onSelect: function(datetext){
		                    var d = new Date(); // for now
		                    datetext=datetext+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
		                    $('#id_Fecha').val(datetext);
		                 },
		             });
		     });

            $(function() {
                  $("#txtCiu").autocomplete({
                    source: "/autocompleteCiu/"

                  });
                });
		</script>
        </section>





  <!--<section class="ink-grid">-->
        <!--<div class="container box">-->
        	<!--<h1 class="content-center">Ciudadelas</h1>-->
        	<!--<form class="ink-form"  action="/registraCiudadela/" method="post" role="form">-->
                <!--{% csrf_token %}-->
			   <!--<div class="control-group required column-group gutters">-->
                            <!--<label class="large-20 content-right">Descripción </label>-->
                            <!--<div class="control large-60">-->
                                <!--<input type="text" id="txtDescripcion" name="txtDescripcion">-->
                            <!--</div>                            -->
                <!--</div>	-->
                <!--&lt;!&ndash;<div class="control-group required column-group gutters">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label  class="large-20 content-right">Fecha de Emisión</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="control large-30">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" id="txtFecha" name="txtFecha">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
               <!--&lt;!&ndash;</div>&ndash;&gt;-->
               <!--<div class="control-group content-center">-->
                      <!--<button class="ink-button blue" type="submit"> <i class="icon-save icon-large"> </i> Guardar</button>-->
                      <!--&lt;!&ndash;<button class="ink-button red"> <i class="icon-remove-sign icon-large"> </i> Cancelar</button>	&ndash;&gt;-->
               <!--</div>-->
               					 <!---->
	        <!--</form>	-->
			<!---->
		  <!---->
        <!--</div>-->

       <!--<script>-->

           <!--$(function() {-->
                                <!--$('#txtFecha').datepicker({-->
                                    <!--dateFormat: 'dd/mm/yy',-->
                                    <!--onSelect: function(datetext){-->
                                        <!--var d = new Date(); // for now-->
                                        <!--datetext=datetext+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();-->
                                        <!--$('#txtFecha').val(datetext);-->
                                    <!--},-->
                                <!--});-->
                                <!--});-->
           <!--//var modal = new Ink.UI.Modal('#editar');-->
           <!--Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Modal_1'], function( Selector, Modal ){-->
                 <!--var modalElement = Ink.s('#{{ciu.id}}');-->
                 <!--var modalObj = new Modal( modalElement );-->
             <!--});-->
       <!--</script>-->
        <!--</section>-->
    <!--<section class="ink-grid">-->
    <!--<div class="container box">-->
         <!--<h1 class="content-center">Ciudadelas</h1>-->

          <!--<table class="ink-table bordered hover alternating">-->
          	<!--<thead>-->
          		<!--<tr>-->
          		   <!--<th class="content-center">-->
          		   	<!--Código-->
          		   <!--</th>-->
          		   <!--<th class="content-center">-->
          		   	  <!--Descripción-->
          		   <!--</th>-->
          		   <!--<th class="content-center" colspan="3">-->
          		   	<!--Acciones-->
          		   <!--</th>-->
          		<!--</tr>-->
          	<!--</thead>-->
            <!--<tfoot>-->
            	<!--<tr>-->
            		<!--<td colspan="2"> </td>-->
            	<!--</tr>-->
            <!--</tfoot>-->
            <!--<tbody>-->
		<!--{% for ciu in ciudadela %}-->
			<!--<tr>-->
            		<!--<td class="content-center">-->
            			<!--{{ ciu.id }}-->
            		<!--</td>-->
            		<!--<td class="content-center">{{ ciu.Descripcion }}</td>-->
            		<!--<td class="content-center"> <a href="" class="ink-button" id="{{ciu.id}}"> <i class="icon-edit "> </i> Editar "{{ciu.id|length}}"</a> </td>-->
            		<!--<td class="content-center"> <a href="/EliminarCiudadela/{{ ciu.id }}" class="ink-button"><i class="icon-trash"> </i> Eliminar</a> </td>-->
            	<!--</tr>-->
              <!--<div class="ink-shade fade">-->
       <!--<div id="{{ciu.id}}" class="ink-modal" data-trigger="#vModal" data-width="910px" data-height="440px">-->
        <!--<div class="modal-header">-->
            <!--<button class="modal-close ink-dismiss"> </button>-->
            <!--<h1>Editar Ciudadela</h1>-->
        <!--</div>-->
        <!--<div class="modal-body" id="modalContent">-->
           <!--<div class="box">-->

        	<!--<div class="vspace ink-form">-->
			   <!--<div class="control-group required column-group gutters">-->
                            <!--<label for="email" class="large-20 content-right">Descripción </label>-->
                            <!--<div class="control large-80">-->
                                <!--<input type="text" id="Descripcion">-->
                            <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group required column-group gutters">-->
                            <!--<label for="email" class="large-20 content-left">Fecha de Emisión</label>-->
                            <!--<div class="control large-30">-->
                                <!--<input type="text" id="Id_Fecha">-->
                            <!--</div>-->
               <!--</div>-->
			<!--</div>-->
        <!--</div>-->
        <!--<div class="vspace modal-footer">-->
            <!--<div class="push-right">-->
                <!--<button class="ink-button blue info large"><i class="icon-save"> </i> Guardar </button>-->
                <!--<button class="ink-button red caution ink-dismiss large"> <i class="icon-remove-circle"> </i> Cancelar </button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
		<!--{% endfor %}-->
            <!--</tbody>-->
          <!--</table>-->
           <!--<nav class="ink-navigation">-->
				    <!--<ul class="pagination rounded shadowed red">-->
					    <!--<li class="previous"><a href="#"><i class="icon-chevron-left"> </i></a></li>-->
					    <!--<li class="next"><a href="#"><i class="icon-chevron-right"> </i></a></li>-->
				    <!--</ul>-->
			  <!--</nav>-->
    <!--</div>-->
     <!--</section>-->

{% endblock %}