<table class="ink-table bordered hover alternating">
          	<thead>
          		<tr>
          		   <th class="content-center">
          		   	Código
          		   </th>
          		   <th class="content-center">
          		   	  Descripción
          		   </th>
          		   <th class="content-center" colspan="2">
          		   	Acciones
          		   </th>
          		</tr>
          	</thead>
            <tfoot>
            	<tr>
            		<td colspan="1"> </td>
            	</tr>
            </tfoot>
            <tbody>
             {% for ciu in ciudadela %}
                <tr>
            		<td class="content-center">
            			{{ ciu.id }}
            		</td>
            		<td class="content-center">{{ ciu.Descripcion }}</td>
            		<td class="content-center"> <a href="#" class="ink-button" id="vModal"> <i class="icon-edit "> </i> Editar</a> </td>
            		<td class="content-center"> <a href="#" class="ink-button"><i class="icon-trash"> </i> Eliminar</a> </td>
            	</tr>
             {% endfor %}
            </tbody>
</table>
{% if ciudadela %}
    <nav class="ink-navigation">
        <ul class="pagination rounded shadowed red">
            {% if ciudadela.has_previus %}
                 <li class="previous"><a href="/Ciudadela/pag/{{ciudadela.previus_page_number}}/"><i class="icon-chevron-left"> </i></a></li>
            {% else %}
                <li class="previous"><a href="#"><i class="icon-chevron-left"> </i></a></li>
            {% endif %}
            {% if ciudadela.has_next %}
                <li class="next"><a href="/Ciudadela/pag/{{ciudadela.next_page_number}}/"><i class="icon-chevron-right"> </i></a></li>
            {% else %}
                <li class="next"><a href="#"><i class="icon-chevron-right"> </i></a></li>
            {% endif %}
       </ul>
    </nav>
{% endif %}
























<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/registraCiudadela/" method="post" role="form">-->
    <!--{% csrf_token %}-->
   <!--<input type="text" id="txtMensaje" name="txtMensaje"/>-->
<!--<button type="submit"> Enviar </button>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->