{% extends 'base.html'%}
{% load staticfiles %}
{% block title %} Siscobros - Editar Ciudadela {% endblock %}
{% block body %}

          <section class="ink-grid">
        <div class="container box">
        	<h1 class="content-center">Ciudadelas</h1>
        	<form id="" class="ink-form" role="form" method="POST"  action="/registraCiudadela/">
			   <div class="control-group required column-group gutters">
                            <label class="large-20 content-right">Descripción </label>
                            <div class="control large-60">
                                <input type="text" id="txtDescripcion">
                            </div>
                </div>
                <div class="control-group required column-group gutters">
                            <label  class="large-20 content-right">Fecha de Emisión</label>
                            <div class="control large-30">
                                <input type="text" id="txtFecha">
                            </div>
               </div>
               <div class="control-group content-center">
                      <button class="ink-button blue"> <i class="icon-save icon-large"> </i> Guardar</button>
                      <!--<button class="ink-button red"> <i class="icon-remove-sign icon-large"> </i> Cancelar</button>	-->
               </div>

	        </form>


        </div>
       <script type="text/javascript" charset="utf-8">
           $(function() {
                                $('#txtFecha').datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    onSelect: function(datetext){
                                        var d = new Date(); // for now
                                        datetext=datetext+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
                                        $('#txtFecha').val(datetext);
                                    },
                                });
                                });
       </script>
        </section>
{% endblock %}