{% extends 'base.html'%}
{% load staticfiles %}
{% block title %} Siscobros - Ciudadela {% endblock %}
{% block body %}
    <div class="container box">
        	<h1 class="content-center">Ciudadelas</h1>

			<div class="ink-form">
				<div class="control-group">
					<div class="control append-button">

					<span class="control"><input type="text" id="name" placeholder="Ingrese texto a buscar"></span>
					<button class="ink-button red"><i class="icon-search"> </i> Buscar</button>
					</div>
					</div>
			</div>
			<button class="ink-button orange"> <i class="icon-plus-sign"> </i> </button>
          <table class="ink-table bordered hover alternating">
          	<thead>
          		<tr>
          		   <th class="content-center">
          		   	Código
          		   </th>
          		   <th class="content-center">
          		   	  Descripción
          		   </th>
          		   <th class="content-center" colspan="3">
          		   	Acciones
          		   </th>
          		</tr>
          	</thead>
            <tfoot>
            	<tr>
            		<td colspan="2"> </td>
            	</tr>
            </tfoot>
            <tbody>
            	<tr>
            		<td class="content-center">
            			1
            		</td>
            		<td class="content-center">Santa Rosita</td>
            		<td class="content-center"> <a href="" class="ink-button"> <i class="icon-edit "> </i> Editar</a> </td>
            		<td class="content-center"> <a href="" class="ink-button"><i class="icon-trash"> </i> Eliminar</a> </td>
            	</tr>
            		<tr>
            		<td class="content-center">
            			2
            		</td>
            		<td class="content-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </td>
            		<td class="content-center"> <a href="" class="ink-button"> <i class="icon-edit "> </i> Editar</a> </td>
            		<td class="content-center"> <a href="" class="ink-button"><i class="icon-trash"> </i> Eliminar</a> </td>
            	</tr>
            </tbody>
          </table>
           <nav class="ink-navigation">
				    <ul class="pagination rounded shadowed red">
					    <li class="previous"><a href="#"><i class="icon-chevron-left"> </i></a></li>
					    <li class="next"><a href="#"><i class="icon-chevron-right"> </i></a></li>
				    </ul>
			  </nav>
    </div>
{% endblock %}