{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
        Prueba de funcionamiento de formularios
{% endblock %}
{% block body %}
     <!--#EDEDED-->
        <div class="ink-grid">
                {% block header %}
                    <header>
                        <h1>Sistema de Cobros v1.0 <small>Cuerpo de Bomberos</small> </h1>
                        <nav class="ink-navigation vspace">
                            <ul class = "menu horizontal red rounded shadowed">
                                <li><a href="#"><i class="icon-sitemap"> </i>Mantenimiento <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                   <li><a href="#"> Contribuyentes  </a></li>
                                   <li><a href="#"> Ciudadela </a></li>
                                   <li><a href="#"> Aseguradoras </a></li>
                                   <li><a href="#"> Vehículos </a></li>
                                   <li><a href="#"> Locales </a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-exchange"> </i>Transacción <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                    <li><a href="#"><i class="icon-time"> </i>Deudas</a></li>
                                    <li><a href="#"><i class="icon-money"> </i>Cobros</a></li>
                                </ul>
                                </li>
                            <li><a href="#"><i class="icon-search"> </i>Inspección</a></li>
                            <li><a href="#"><i class="icon-bar-chart"> </i>Reportería</a></li>
                            <li><a href="#"><i class="icon-wrench"> </i>Parámetros <i class="icon-caret-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="#"> Recargas </a></li>
                                    <li><a href="#">Organización </a></li>
                                </ul>
                            </li>
                            <li class="push-right">
                              <a href="#"><i class="icon-user">  </i> Bienvenido {{usuario}}</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'logout'%}"><i class="icon-signout"> </i> Salir </a></li>
                                </ul>
                             </li>
                            </ul>
                        </nav>
                    </header>
                {% endblock %}
                {% block section %}
                <section class="container box">
                    <h1 class="content-center">Pagos</h1>
                    <form action="." id="form" method="POST" class="ink-form">
                        {% csrf_token %}
                        <div class="control-group required column-group gutters">
                                    <label for="email" class="large-20 content-right">Título </label>
                                    <div class="control large-30">
                                        {{ form.Titulo }}
                                    </div>
                                    <div class="control large-30">
                                        <input type="text" id="id_Numero">
                                        <p class="tip">Número</p>
                                    </div>
                        </div>
                        <div class="control-group required column-group gutters">
                                    <label for="email" class="large-20 content-right">Por </label>
                                    <div class="control large-20">
                                        {{ form.Valor }}
                                    </div>
                        </div>
                       <div class="control-group required column-group gutters">
                                    <label for="email" class="large-20 content-right">Cliente </label>
                                    <div class="control large-60">
                                        {{ form.Ciente }}
                                    </div>
                        </div>
                        <div class="control-group required column-group gutters">
                                    <label for="Fecha" class="large-20 content-right">Tipo</label>
                                    <div class="control large-30">
                                        {{ form.Tipo_Costo }} # cual es el id del combo
                                    </div>
                       </div>
                        <div class="control-group required column-group gutters">
                                    <label for="Fecha" class="large-20 content-right">Concepto</label>
                                    <div class="control large-70">
                                        {{ form.Observacion }}
                                    </div>
                       </div>
                       <div class="control-group required column-group gutters">
                                    <label for="Fecha" class="large-20 content-right">Cantidad</label>
                                    <div class="control large-60">
                                        <input type="text" id="id_Cantidad">
                                    </div>
                       </div>
                       <div class="control-group content-center">
                              <button class="ink-button blue"> <i class="icon-save icon-large"> </i> Guardar</button>
                              <a href="/index/"class="ink-button red"> <i class="icon-remove-sign"> </i> Cancelar </a>
                       </div>
                    </form>

                     <script>

                         $("#id_Tipo_Costo").on('click', capturatipo);
                         function capturatipo(){
                             //var texto = $("#id_Tipo_Costo option:selected").text();
                             var iden = $("#id_Tipo_Costo").val();
                             var tit = $("#id_Titulo").val();
                             $.ajax(
                                     {
                                         data: {'id': iden, 'tit':tit},
                                         datatype: 'json',
                                         url:'{% url "tipocostovario" %}',
                                         type: 'post',
                                         success: function(data){
                                         if(data==0)
                                         {
                                            alert("algo salio mal");
                                         }
                                         else{
                                             alert(data);
                                         }

                                        }
                                     }

                             );
                             console.log(iden,tit);
                         }
                          //con esto habilito el ckeditor
                         $("textarea").addClass("ckeditor");
                      </script>

               </section>
                {% endblock %}
                {% block footer %}
                    <footer>
                        <div class="ink-grid">
                               <p>Copyright&copy; 2014 Todos los derechos Reservados </p>
                        </div>
                    </footer>
                {% endblock %}
        </div>

{% endblock %}
