{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Siscobros - Principal {% endblock %}
{% block body %}

       <div class="ink-grid">
                {% block header %}
                    <header>
                        <h1>Sistema de Cobros v1.0 <small>Cuerpo de Bomberos</small> </h1>
                        <nav class="ink-navigation vspace">
                            <ul class = "menu horizontal red rounded shadowed">
                                <li><a href="#"><i class="icon-sitemap"> </i>Mantenimiento <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                   <li><a href="#"> Contribuyentes  </a></li>
                                   <li><a href="#"> Ciudadela </a></li>
                                   <li><a href="#"> Aseguradoras </a></li>
                                   <li><a href="#"> Vehículos </a></li>
                                   <li><a href="#"> Locales </a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-exchange"> </i>Transacción <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                    <li><a href="#"><i class="icon-time"> </i>Deudas</a></li>
                                    <li><a href="#"><i class="icon-money"> </i>Cobros</a></li>
                                </ul>
                                </li>
                            <li><a href="#"><i class="icon-search"> </i>Inspección</a></li>
                            <li><a href="#"><i class="icon-bar-chart"> </i>Reportería</a></li>
                            <li><a href="#"><i class="icon-wrench"> </i>Parámetros <i class="icon-caret-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="#"> Recargas </a></li>
                                    <li><a href="#">Organización </a></li>
                                </ul>
                            </li>
                            <li class="push-right">
                              <a href="#"><i class="icon-user">  </i> Bienvenido {{usuario |capfirst}}</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'logout'%}"><i class="icon-signout"> </i> Salir </a></li>
                                </ul>
                             </li>
                            </ul>
                        </nav>
                    </header>
                {% endblock %}
                {% block section %}


                          <div id="contenedor"></div>
                           <script>
                                $("document").on('ready',inicializatab);
                                   function inicializatab(){
                                       $("div #contenedor").load('../templates/main/autocomplete.html');
                                   }
                           </script>


           <script>


               $( "#tabs" ).tabs({ collapsible: true
               });
           </script>
                {% endblock %}
            </div>
              {% block footer %}
                    <footer class="container vspace bottom">

				        <p class="content-center vspace">Copyright &copy; 2014 Todos los derechos reservados</p>

		            </footer>
                {% endblock %}
{% endblock %}