{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SisCobros - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ink.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" />
     <!--[if IE 7 ]>
            <link rel="stylesheet" href=" {% static 'css/ink-ie7.css' %} type="text/css" media="screen" title="no title" charset="utf-8">
     <!--<![endif]&ndash;&gt;-->
</head>
<body>
        <div class="container">
         {% if not user.is_authenticated %}
            <section id="content">
               <form action="../" method="POST">
                   {% csrf_token %}
                   <h1>Iniciar Sesión</h1>
                    <div>
                        <input type="text" placeholder="Nombre de Usuario" required="" id="username" name="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" required="" id="password" name="password"/>
                    </div>
                    <div>
                        <button type="submit" class="ink-button red"><i class="icon-signin"> </i> Entrar </button>
                    </div>
               </form>
             {% else %}
                    <meta http-equiv="refresh" content="0; url=/index/" />
             {% endif %}
             </section>
             {% if form.errors %}
                    <div class="ink-alert basic error">
                        <button class="ink-dismiss">&times;</button>
                        <p><b>Error:</b> Usuario o Contraseña Incorrectos</p>
                    </div>
             {% endif %}
        </div>
</body>
</html>