  <section class="container box">
                                <div id="tabs">
                                <ul>
                                    <li><a href="#fragment-1" id="tabConsulta">Consulta</a></li>
                                    <li><a href="#fragment-2" id="tabPagos">Pagos</a></li>
                                </ul>
                                <div id="fragment-1">
                                    <div class="ink-grid">
                                        <form class="ink-form" action="">
                                            <div class="container box">


                                                <div class="ink-form">
                                                    <div class="control-group">
                                                        <div class="control append-button">

                                                        <span class="control"><input type="text" id="name" placeholder="Ingrese texto a buscar"></span>
                                                        <button class="ink-button red"><i class="icon-search"> </i> Buscar</button>
                                                        </div>
                                                        </div>
                                                        </div>

                                              <table class="ink-table bordered hover alternating">
                                                <thead>
                                                    <tr>
                                                       <th class="content-center">
                                                        Código
                                                       </th>
                                                       <th class="content-center">
                                                          Descripción
                                                       </th>
                                                       <th class="content-center" colspan="3">
                                                        Acciones
                                                       </th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="1"> </td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <td class="content-center">
                                                            1
                                                        </td>
                                                        <td class="content-center">Santa Rosita</td>
                                                        <td class="content-center"><a href="" class="ink-button green"><i class="icon-ticket"> </i> Pagos</a></td>
                                                    </tr>
                                                        <tr>
                                                        <td class="content-center">
                                                            2
                                                        </td>
                                                        <td class="content-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </td>
                                                        <td class="content-center"><a href="" class="ink-button green"><i class="icon-ticket"> </i> Pagos</a></td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                               <nav class="ink-navigation">
                                                        <ul class="pagination rounded shadowed red">
                                                            <li class="previous"><a href="#"><i class="icon-chevron-left"> </i></a></li>
                                                            <li class="next"><a href="#"><i class="icon-chevron-right"> </i></a></li>
                                                        </ul>
                                                  </nav>
                                              </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="fragment-2">
                                    <div class="ink-grid">
                                        <form action="" class="container box ink-form">
                                                <h1 class="content-center"> Pagos </h1>
                                                <p class="content-center tip"> Por favor rellene los campos marcados con *</p>
                                                <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Título </label>
                                                            <div class="control large-30">
                                                                <input type="text" id="id_Titulo">
                                                            </div>
                                                            <div class="control large-30">
                                                                <input type="text" id="id_Numero">
                                                                <p class="tip">Número</p>
                                                            </div>
                                                </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Por </label>
                                                            <div class="control large-20">
                                                                <input type="text" id="id_Por">
                                                            </div>
                                                </div>
                                               <div class="control-group required column-group gutters">
                                                            <label for="email" class="large-20 content-right">Cliente </label>
                                                            <div class="control large-60">
                                                                <input type="text" id="id_Cliente">
                                                            </div>
                                                </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Tipo</label>
                                                            <div class="control large-30">
                                                                <select name="" id="id_Tirpo">
                                                                    <option>Escoja una de las opciones</option>
                                                                </select>
                                                            </div>
                                               </div>
                                                <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Concepto</label>
                                                            <div class="control large-70">
                                                                <textarea  id="id_Concepto" class="ckeditor"> </textarea>
                                                            </div>
                                               </div>
                                               <div class="control-group required column-group gutters">
                                                            <label for="Fecha" class="large-20 content-right">Cantidad</label>
                                                            <div class="control large-60">
                                                                <input type="text" id="id_Cantidad">
                                                            </div>
                                               </div>
                                               <div class="control-group content-center">
                                                      <button class="ink-button blue"> <i class="icon-save icon-large"> </i> Guardar</button>
                                                      <button class="ink-button red"> <i class="icon-remove-sign icon-large"> </i> Cancelar</button>
                                               </div>
                                        </form>
                                    </div>
                                </div>
                              </div>
</section>