{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block estilos %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ink-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/blitzer/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/kendo/styles/kendo.common.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'js/vendor/kendo/styles/kendo.rtl.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'js/vendor/kendo/styles/kendo.default.min.css'%}"/>
        <!--[if IE 7 ]>
            <link rel="stylesheet" href=" {% static 'css/ink-ie7-min.css' %} type="text/css" media="screen" title="no title" charset="utf-8">
        <!--<![endif]&ndash;&gt;-->
    {% endblock %}
    {% block js %}
        <script type="text/javascript" src= "{% static 'js/holder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ink-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/autoload.js' %}"></script>
        <script type="text/javascript" src="{% static  'js/html5shiv.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jQuery.download.js' %}"></script>
        <script type="text/javascript" src= "{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/ckeditor/ckeditor.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/kendo/js/kendo.web.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/kendo/js/cultures/kendo.culture.es-EC.min.js'%}"></script>
    {% endblock %}
</head>
<body>
    <div class="ink-grid">
                    <header>
                        <h1>Sistema de Cobros v1.0 <small>Cuerpo de Bomberos</small> </h1>
                        <nav class="ink-navigation vspace">
                            <ul class = "menu horizontal red rounded shadowed">
                                <li><a href="/index/"><i class="icon-home "> </i></a></li>
                                <li><a href="#"><i class="icon-sitemap"> </i>Mantenimiento <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                   <li><a href="#"> Contribuyente  </a></li>
                                   <li><a href="/ciudadela/"> Ciudadela </a></li>
                                   <li><a href="/aseguradora/"> Aseguradoras </a></li>
                                   <li><a href="#"> Vehículos </a></li>
                                   <li><a href="#"> Locales </a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-exchange"> </i>Transacción <i class="icon-caret-down"> </i></a>
                                <ul class="submenu">
                                    <li><a href="#"><i class="icon-time"> </i>Deudas</a></li>
                                    <li><a href="/costovario/"><i class="icon-money"> </i>Cobros</a></li>
                                </ul>
                                </li>
                            <li><a href="#"><i class="icon-search"> </i>Inspección</a></li>
                            <li><a href="#"><i class="icon-bar-chart"> </i>Reportería</a>
                                <ul class="submenu">
                                    <li><a href="/reportes/costovario/"> Costo Vario</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-wrench"> </i>Parámetros <i class="icon-caret-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="#"> Recargas </a></li>
                                    <li><a href="#">Organización </a></li>
                                </ul>
                            </li>
                            <li class="push-right">
                              <a href="#"><i class="icon-user">  </i> Bienvenido {{usuario |capfirst}}</a>
                                <ul class="submenu">
                                    <li><a href="{% url 'logout'%}"><i class="icon-signout"> </i> Salir </a></li>
                                </ul>
                             </li>
                            </ul>
                        </nav>
                    </header>
        {% block section %}
        {% endblock %}
    </div>
        {%block footer %}
              <footer class="container vspace bottom">

				        <p class="content-center vspace">Copyright &copy; 2014 Todos los derechos reservados</p>

		      </footer>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
</body>
</html>