{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Siscobros - Principal {% endblock %}
{% block section %}
                <section class="container box">
                               <div>
                                   <h1 class="content-center">Sistema de Cobros</h1>
                               </div>
                </section>
{% endblock %}